h1{
  font-family:Love Ya Like A Sister;
  font-size:450%;
  padding:20px;
  margin-left: 300px;
  text-shadow: 4px 6px 3px red;
}
body{
  background-image: url(http://pavbca.com/walldb/original/3/1/d/250542.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

}
#form{
  background-color:black;
  width:300px;
  height:350px;
  font-size:300%;
    font-family:Fondamento;
    text-shadow: 2px 1px white;
    font-size:300%;
    font-family:Fondamento;
    text-shadow: 2px 1px white;

}
.decor{
  color:white;
  text-shadow:4px 6px 3px red;
  background-color:black;
  border-radius:1000000%;
}
#style{
  background-color:black;
  width:20%;
  height:25%;

}
p{
  color:white;
  font-size:200%;
}
