p{
  font-family:Source Code Pro;
  font-size:150%;
  color:grey;

}
body{
  background-image: url(https://i.pinimg.com/originals/d3/21/2f/d3212fb4322d209eec45d6f6ddadb5ad.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  margin-left: 30%;
}
button{
  font-family: Source Code Pro;

}
#form{
  margin-left:10%;


}
#move{
  display: flex;
  flex:column;
  float:right;

}
result{
  font-family:sans-serif;
  margin-left: 20%;
}
h1{
  font-family:fantasy;
  color:white;
  text-shadow: 1px 2px #2874A6;
  font-size:200%;
}
